﻿@using Andrii.Web.Models.Common.Modals
@model Andrii.Web.Models.Devices.EditDeviceModalViewModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditDevice")))
<div class="modal-body">
    <form name="DeviceEditForm" role="form" novalidate>
        <input type="hidden" name="Id" value="@Model.Device.Id" />
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn active">
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="name" type="text" name="Name" value="@Model.Device.Name" class="form-control validate" required>
                                <label for="name" class="form-label">@L("Name")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="description" type="text" name="Description" class="form-control validate" required value="@Model.Device.Description">
                                <label for="description" class="form-label">@L("Description")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
<script src="~/view-resources/Views/Devices/_EditDeviceModal.js" asp-append-version="true"></script>
