﻿@using Abp.Authorization.Users
@using Andrii.Web.Startup
@using Andrii.Devices.Dto
@model Andrii.Web.Models.Devices.DeviceStatistics
@{
    ViewBag.CurrentPageName = PageNames.Devices;
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Devices/Index.js" asp-append-version="true"></script>
    </environment>
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var name = $("#routeDataId").val();

        var dateBefore = new Date();
        dateBefore.setDate(dateBefore.getDate() - 1);

        var deviceStatistics = {
            dateTime: dateBefore,
            Name: name
        };

        abp.ajax({
            url: '/Devices/Difference',
            data: JSON.stringify(deviceStatistics),
            dataType: "json"
        }).done(function (data) {
            abp.notify.success('success');

            var label = data.groupedInfluxData.map(function (e) {
                return e.timeString;
            });
            var values = data.groupedInfluxData.map(function (e) {
                return e.value;
            });

            $('table#TableID').remove();

            var table = '<table class="table" id="TableID"><thead><tr><th>@L("Time")</th><th>@L("Value")</th></tr></thead><tbody></tbody>';
            $('div#appendTable').append(table);

            $.each(data.groupedInfluxData, function (key, value) {
                var tr = '<tr class="trTableID">' +
                    '<td>' + value.time.split('T')[1].split(':00Z')[0] + '</td>' +
                    '<td>' + value.value + '</td></tr>';
                $('#TableID tbody').append(tr);
            });

            $(function () {
                var data = {
                    labels: label,
                    datasets: [{
                        backgroundColor:
                            'rgba(255, 99, 132, 0.2)',
                        data: values,
                        borderColor: "#3e95cd",
                        fill: false,
                        lineTension: 0.1
                    }]
                };
                var options = {
                    maintainAspectRatio: true,
                    legend: {
                        display: false,
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                display: true
                            },
                            gridLines: {
                                display: true
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                display: true
                            },
                            gridLines: {
                                display: true
                            }
                        }]
                    }
                };

                $("canvas#chartreport").remove();
                $("#divChart").append('<canvas id="chartreport"></canvas>');
                var ctx = document.getElementById("chartreport").getContext("2d");
                var chart = new Chart(ctx, {
                    options: options,
                    data: data,
                    type: 'line'
                });
            });
        });
    });
</script>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Statistics")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <input type="hidden" value="@Model.Name" id="routeDataId" />
                <div class="col-sm-3">
                    @using (Html.BeginForm("Excel", "Devices"))
                    {
                        <input name="dateTime" type="text" class="form-control" id="datetimepicker1" />
                        <input type="submit" value="Download Excel" class="btn btn-success" />
                    }
                    <script type="text/javascript">
                        var dateNow = new Date();
                        var date = new Date();
                        $('#datetimepicker1').datetimepicker({
                            format: 'DD/MM/YYYY', defaultDate: date.setDate(date.getDate() - 1), maxDate: moment(), disabledDates: [dateNow]
                        }).on('dp.change', function (e) {
                            var formatedValue = e.date.format(e.date._f);

                            var split = formatedValue.split("/");
                            var newDate = split[1] + "/" + split[0] + "/" + split[2];
                            console.log(newDate);

                            var name = $("#routeDataId").val();

                            var deviceStatistics = {
                                dateTime: newDate,
                                Name: name
                            };

                            abp.ajax({
                                url: '/Devices/Difference',
                                data: JSON.stringify(deviceStatistics),
                                dataType: "json"
                            }).done(function (data) {
                                abp.notify.success('success');

                                var label = data.groupedInfluxData.map(function (e) {
                                    return e.timeString;
                                });
                                var values = data.groupedInfluxData.map(function (e) {
                                    return e.value;
                                });

                                $('table#TableID').remove();

                                var table = '<table class="table" id="TableID"><thead><tr><th>@L("Time")</th><th>@L("Value")</th></tr></thead><tbody></tbody>';
                                $('div#appendTable').append(table);

                                $.each(data.groupedInfluxData, function (key, value) {
                                    var tr = '<tr class="trTableID">' +
                                        '<td>' + value.time.split('T')[1].split(':00Z')[0] + '</td>' +
                                        '<td>' + value.value + '</td></tr>';
                                    $('#TableID tbody').append(tr);
                                });

                                $(function () {
                                    var data = {
                                        labels: label,
                                        datasets: [{
                                            backgroundColor:
                                                'rgba(255, 99, 132, 0.2)',
                                            data: values,
                                            borderColor: "#3e95cd",
                                            fill: false,
                                            lineTension: 0.1
                                        }]
                                    };
                                    var options = {
                                        maintainAspectRatio: true,
                                        legend: {
                                            display: false,
                                        },
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    display: true
                                                },
                                                gridLines: {
                                                    display: true
                                                }
                                            }],
                                            xAxes: [{
                                                ticks: {
                                                    display: true
                                                },
                                                gridLines: {
                                                    display: true
                                                }
                                            }]
                                        }
                                    };

                                    $("canvas#chartreport").remove();
                                    $("#divChart").append('<canvas id="chartreport"></canvas>');
                                    var ctx = document.getElementById("chartreport").getContext("2d");
                                    var chart = new Chart(ctx, {
                                        options: options,
                                        data: data,
                                        type: 'line'
                                    });
                                });
                            });
                        });
                    </script>
                </div>
                <div id="appendTable"></div>
            </div>
            <div>
                <div id="divChart">
                    <canvas id="chartreport"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>