﻿@using Andrii.Web.Models.Common.Modals
@model Andrii.Web.Models.Movies.EditMovieModalViewModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditMovie")))
<div class="modal-body">
    <form name="MovieEditForm" role="form" novalidate>
        <input type="hidden" name="Id" value="@Model.Movie.Id" />
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn active">
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="title" type="text" name="Title" value="@Model.Movie.Title" class="form-control validate" required>
                                <label for="title" class="form-label">@L("Title")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="releasedate" type="text" name="ReleaseDate" class="form-control validate" required value="@Model.Movie.ReleaseDate">
                                <label for="releasedate" class="form-label">@L("ReleaseDate")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="genre" type="text" name="Genre" value="@Model.Movie.Genre" class="form-control validate" required>
                                <label for="genre" class="form-label">@L("Genre")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="price" type="number" name="Price" value="@Model.Movie.Price" class="form-control validate" required>
                                <label for="price" class="form-label">@L("Price")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="rating" type="text" name="Rating" value="@Model.Movie.Rating" class="form-control validate" required>
                                <label for="rating" class="form-label">@L("Rating")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="amount" type="number" name="Amount" value="@Model.Movie.Amount" class="form-control validate" required>
                                <label for="amount" class="form-label">@L("Amount")</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="availabledate" type="text" name="AvailableDate" value="@Model.Movie.AvailableDate" class="form-control validate" required>
                                <label for="availabledate" class="form-label">@L("AvailableDate")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
<script src="~/view-resources/Views/Movies/_EditMovieModal.js" asp-append-version="true"></script>
