﻿@using Abp.Authorization.Users
@using Andrii.Web.Startup
@model Andrii.Web.Models.Movies.MovieListViewModel
@{
    ViewBag.CurrentPageName = PageNames.Movies; // The menu item will be active for this page.
}

<link rel="stylesheet" type="text/css" href="~/css/datatables.css">

@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Movies/Index.js" asp-append-version="true"></script>
        <script type="text/javascript" charset="utf8" src="~/js/datatables.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#table_id').DataTable({
                "order": [[1, "asc"]],
                columns: [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    { orderable: false }
                ]
            });
        });
    </script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Movies")
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table id="table_id" class="table">
                    <thead>
                        <tr>
                            <th>@L("Title")</th>
                            <th>@L("ReleaseDate")</th>
                            <th>@L("Genre")</th>
                            <th>@L("Price")</th>
                            <th>@L("Rating")</th>
                            <th>@L("Amount")</th>
                            <th>@L("AvailableDate")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var movie in Model.Movies)
                        {
                            <tr>
                                <td>@movie.Title</td>
                                <td>@movie.ReleaseDate</td>
                                <td>@movie.Genre</td>
                                <td>@movie.Price</td>
                                <td>@movie.Rating</td>
                                <td>@movie.Amount</td>
                                <td>@movie.AvailableDate</td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-movie" data-movie-id="@movie.Id" data-toggle="modal" data-target="#MovieEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-movie" data-movie-id="@movie.Id" data-movie-name="@movie.Title"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#MovieCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MovieCreateModal" tabindex="-1" role="dialog" aria-labelledby="MovieCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>@L("CreateNewMovie")</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="movieCreateForm" role="form" novalidate>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane animated fadeIn active" id="create-movie-details">
                            <div class="row clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input class="form-control" name="Title" type="text" required>
                                            <label class="form-label">@L("Title")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="date" name="ReleaseDate" class="form-control" required>
                                            <label class="form-label">@L("ReleaseDate")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" name="Genre" class="form-control" required>
                                            <label class="form-label">@L("Genre")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" name="Price" class="form-control" required>
                                            <label class="form-label">@L("Price")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="text" name="Rating" class="form-control" required maxlength="5">
                                            <label class="form-label">@L("Rating")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="number" name="Amount" class="form-control" required>
                                            <label class="form-label">@L("Amount")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            <input type="date" name="AvailableDate" class="form-control" required>
                                            <label class="form-label">@L("AvailableDate")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MovieEditModal" tabindex="-1" role="dialog" aria-labelledby="MovieEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
